<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <title>Omega Virus!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.prod.js"></script>
    <script src="script.js" defer></script>
  </head>
  <body>
    <div id="app">
      <div class="row-top">
        <div class="cell">
          <div>
            <button
              v-if="started"
              class="start-button"
              @click="pause"
            >
              PAUSE
            </button>
            <button
              v-else
              class="start-button"
              @click="start"
            >
              START
            </button>
          </div>
        </div>
        <div class="cell">
          <div class="countdown">
            <div class="tiles color-full">
              {{ formatTime(remainingSeconds) }}
            </div>
          </div>
        </div>
        <div class="cell dropdown">
          <div>
            <div
              v-model="amountToAdd"
            >
              <button
                class="drop-down-button"
                @click="addTime(30 * 1000)"
              >
                +30s
              </button>
              <button
                class="drop-down-button"
                @click="addTime(3 * 60 * 1000)"
              >
                +3m
              </button>
          </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="cell left">
          <div class="buttons">
            <div class="top-row">
              <button class="button-a" @click="pressButton('a')"></button>
              <button class="button-c" @click="pressButton('c')"></button>
              <button class="button-e" @click="pressButton('e')"></button>
            </div>
            <div class="bottom-row">
              <button class="button-b" @click="pressButton('b')"></button>
              <button class="button-d" @click="pressButton('d')"></button>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="history">
            <template v-for="button in history">
              <div v-if="button === 0" class="placeholder"></div>
              <img
                v-else
                :src="'images/' + button.toUpperCase() + '.png'"
              >
            </template>
            <button
              class="reset-button"
              @click="lastPressed = []"
            >
              RESET
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
