
body {
  font: normal 13px/20px sans-serif;
  word-wrap: break-word;
  background: #fff;
}

.top {
  margin-bottom: 20px;
  text-align: center;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
}
.cell {
  display: inline-flex;
}
@media (max-width: 80px) {
  .top {
    flex-direction: column;
  }
  .row {
    flex-direction: column;
  }
  .cell {
    flex-direction: column;
  }
}

.top-row {
  display: flex;
}
.bottom-row {
  display: flex;
  justify-content: space-around;
}

.row-top {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: baseline;
  }

.buttons {
  background: #E9E9ED;
}

.buttons button {
  background-size: 100%;
  border: none;
  padding: 55px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
}
.history {
  max-width: 215px;
  margin-top: 5px;
  padding-left: 15px;
}
.history img,
.placeholder {
  width: 70px;
}
.placeholder {
  display: inline-block;
  width: 68px;
  height: 68px;
  background: #eaeaea;
  border-radius: 6px;
  margin: 0px 2px 2px 0px;
}

.button-a {
  background-image: url('images/A.png');
}
.button-a:active {
  background-image: url('images/A-pressed.png');
  background-size: 100%;
}

.button-b {
  background-image: url('images/B.png');
}
.button-b:active {
  background-image: url('images/B-pressed.png');
  background-size: 100%;
}

.button-c {
  background-image: url('images/C.png');
}
.button-c:active {
  background-image: url('images/C-pressed.png');
  background-size: 100%;
}

.button-d {
  background-image: url('images/D.png');
}
.button-d:active {
  background-image: url('images/D-pressed.png');
  background-size: 100%;
}

.button-e {
  background-image: url('images/E.png');
}
.button-e:active {
  background-image: url('images/E-pressed.png');
  background-size: 100%;
}

.left {
  box-shadow: 4px 4px #666;
}

.appear {
  opacity: 0.5;
}

.drop-button,
.drop-down-button {
  width: 110px;
  color: #65584C;
  font-size: 25px;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-align: center !important;
  text-transform: uppercase;
}

.color-full {
  background: #55A46E;
}

.countdown {
  background: #F1F1F1;
  margin: 20px 20px 20px 20px;
  box-shadow: 0 1px 2px 0 rgba(90, 57, 57, 0.5);
}

.countdown .tiles {
  color: #fff;
  position: relative;
  z-index: 1;
  text-shadow: 1px 1px 0px #ccc;
  display: inline-block;
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 48px;
  font-weight: thin;
}

.countdown .tiles > span {
  width: 70px;
  max-width: 70px;
  padding: 18px 0;
  position: relative;
}

.countdown .labels {
  width: 100%;
  height: 25px;
  text-align: center;
  position: absolute;
  bottom: 8px;
}

.countdown .labels li {
  width: 102px;
  font: bold 15px 'Droid Sans', Arial, sans-serif;
  color: #f47321;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}
