h1{
  text-align: center;
}

.buttons {
  display: block;
  margin: auto;
  padding: 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: space-around;
  gap: 5px;
  justify-content: center;
  order: 3;
}

.buttons > button {
  background-size: 100%;
  border: none;
  padding: 80px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
}

.button-a {
  background-image: url("images/A.png");
}

.button-a:active {
  background-image: url("images/A-pressed.png");
  background-size: 100%;
}

.button-b {
  background-image: url("images/B.png");
}

.button-b:active {
  background-image: url("images/B-pressed.png");
  background-size: 100%;
}

.button-c {
  background-image: url("images/C.png");
}

.button-c:active {
  background-image: url("images/C-pressed.png");
  background-size: 100%;
}

.button-d {
  background-image: url("images/D.png");
}

.button-d:active {
  background-image: url("images/D-pressed.png");
  background-size: 100%;
}

.button-e {
  background-image: url("images/E.png");
}

.button-e:active {
  background-image: url("images/E-pressed.png");
  background-size: 100%;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}